doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/ui.dynatree.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js')
    script(src='/javascripts/jquery.dynatree.js')
    script(src='/javascripts/jquery.timeago.js')
    script(src='/javascripts/jquery.pulse.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/main.js')
  body
    .navbar
      .navbar-inner
        .brand
          = title
        ul.nav
          li
            a(href='//github.com/zweizeichen/eve-live', target='_blank') Code and Docs
    .container-fluid
      .row-fluid
        block content
  footer
    hr
    .row-fluid
        .span12(style='color: #999; size: 8px;') EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to eve-live to use EVE Online and all associated logos and designs for promotional and information purposes on its website but does not endorse, and is not in any way affiliated with, eve-live. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website.
    .row-fluid
        .span12
          © 2013 &nbsp;
          a(href="//zweizeichen.org", target="_blank") zweizeichen